<h1>Pokemon catalogue</h1>
<div class="flex-container">
    <pokemon *ngFor="let pokemon of pokemons" [pokemon]="pokemon" 
        (showPokemonDetails)="showPokemonDetails($event)">
    </pokemon>
</div>
<div class="btn-container">
    <button (click)="previousPokemons()" *ngIf="showPreviousButton">Previous</button>
    <button *ngIf="!showPreviousButton" disabled="disabled">Previous</button>
    <button (click)="nextPokemons()" *ngIf="showNextButton">Next</button>
    <button *ngIf="!showNextButton" disabled="disabled">Next</button>
</div>
